services:
  mqtt:
    image: eclipse-mosquitto:2.0.18
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto.passwd/:/etc/mosquitto/passwd
      - ./mosquitto/data/:/mosquitto/data
      - ./mosquitto/log/:/mosquitto/log
    networks:
      - regional
      
  regional:
    build:
      context: .
      dockerfile: ./dockers/regional.Dockerfile
    entrypoint: [ "/bin/sh", "-c", "cd /code && python run.py" ]
    volumes:
      - ./regional:/code
      - ./logs:/code/logs
    environment:
      - REGION_ID=region-001
      - RABBITMQ_USER=rabbitmq
      - RABBITMQ_PASSWORD=rabbitmq
      - RABBITMQ_HOST=192.168.3.174
      - RABBITMQ_PORT=5672
      - MQTT_BROKER_HOST=mqtt
      - MQTT_BROKER_PORT=1883
      - MQTT_USER=mqtt
      - MQTT_PASSWORD=mqtt2024#
    depends_on:
      - mqtt
    networks:
      - regional
networks:
  regional:
    driver: bridge
