services:
  mqtt:
    image: eclipse-mosquitto:2.0.18
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto.passwd/:/etc/mosquitto/passwd
      - ./mosquitto/data/:/mosquitto/data
      - ./mosquitto/log/:/mosquitto/log
    networks:
      - regional
  regional:
    build:
      context: .
      dockerfile: ./dockers/regional.Dockerfile
    entrypoint: [ "/bin/sh", "-c", "python run.py" ]
    volumes:
      - ./regional:/code
    ports:
      - "8003:8000"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_NAME=backend
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_PORT=5432
    depends_on:
      - mqtt
    networks:
      - regional
networks:
  regional:
    driver: bridge
