services:
  mqtt:
    image: eclipse-mosquitto:2.0.18
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto.passwd/:/etc/mosquitto/passwd
      - ./mosquitto/data/:/mosquitto/data
      - ./mosquitto/log/:/mosquitto/log
    networks:
      - regional
  redis:
    image: redis:7.2.5
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    networks:
      - regional
  regional:
    build:
      context: .
      dockerfile: ./dockers/regional.Dockerfile
    entrypoint: [ "/bin/sh", "-c", "python run.py" ]
    volumes:
      - ./regional:/code
    ports:
      - "8003:8000"
    environment:
      - RABBITMQ_USER=rabbitmq
      - RABBITMQ_PASSWORD=rabbitmq
      - RABBITMQ_HOST=192.168.3.174
      - RABBITMQ_PORT=5672
    depends_on:
      - mqtt
      - redis
    networks:
      - regional
networks:
  regional:
    driver: bridge
