@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ellipsis {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
  .modal-border {
    @apply border border-[#E9EBF0];
  }
}
