import os
# RabbitMQ
RABBITMQ_USER =  os.environ.get("RABBITMQ_USER", "rabbitmq")
RABBITMQ_PASSWORD = os.environ.get("RABBITMQ_PASSWORD", "rabbitmq2024#")
RABBITMQ_HOST = os.environ.get("RABBITMQ_HOST", "rabbitmq")
RABBITMQ_PORT = os.environ.get("RABBITMQ_PORT", "5672")


# MQTT
MQTT_BROKER_HOST =  os.environ.get("MQTT_BROKER_HOST", "mqtt")
MQTT_BROKER_PORT = os.environ.get("MQTT_BROKER_PORT", "1883")
MQTT_USER = os.environ.get("MQTT_USER", "mqtt")
MQTT_PASSWORD = os.environ.get("MQTT_PASSWORD", "mqtt2024#")


# Redis
REDIS_HOST = os.environ.get("REDIS_HOST", "redis")
REDIS_PORT = os.environ.get("REDIS_PORT", "6379")
REDIS_DB = os.environ.get("REDIS_DB", "0")
REDIS_PASSWORD = os.environ.get("REDIS_PASSWORD", None)

X_API_TOKEN = os.environ.get("X_API_TOKEN", "x-api-token")
CENTRE_API_URL = os.environ.get("CENTRE_API_URL", "http://192.168.3.174:8002")